.section-handbook {
    .section-container {
        .section-body {
            cursor: pointer;

            .section-handbook {
                border: 1px solid gray;
            }
        }

        .name-handbook {
            text-align: center;
            font-weight: 600;

            &:hover {
                color: #45c3d2;
            }
        }
    }
}