.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 40px;
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #49bce295;

    .home-header-content {
        width: 100%;
        display: flex;
        height: 100%;


        .left-content {
            width: 20%;
            display: flex;
            padding: 10px;
            align-items: center;

            .header-logo {
                background: url('../../assets/logo.svg') center center no-repeat;
                height: 80%;
                width: 80%;
                cursor: pointer;

            }

            i {
                font-size: 22px;
                color: gray;
                cursor: pointer;

            }
        }

        .center-content {
            width: 60%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .sub-title {
                    font-size: 13px;
                }
            }
        }

        .right-content {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support {
                color: blue;
                font-size: 15px;
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    font-size: 15px;
                    margin-right: 5px;
                    cursor: pointer;
                }
            }

            .language {
                height: 20px;
                width: 20px;
                margin: 0 10px;
            }
        }
    }
}

.home-header-banner {
    background-image: url('../../assets/header-background.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;

    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        height: 65%;
        padding-top: 15px;

        .title1 {
            text-align: center;
            color: white;
            font-size: 30px;
            text-shadow: 1px 1px 1px black;
            margin-bottom: 15px;
            margin-top: 33px;
        }

        .title2 {
            text-align: center;
            color: white;
            font-size: 30px;
            text-shadow: 2px 1px 2px black;
            margin-bottom: 33px;

        }

        .search {
            display: flex;

            justify-content: center;
            width: fit-content;
            margin: 0 auto;
            padding: 15px;
            align-items: center;
            border-radius: 35px;
            background: rgba(255, 170, 0, 0.676);

            i {
                margin: 0 5px;
                font-size: 15px;
            }

            input {
                height: 30px;
                width: 350px;
                border: none;
                outline: none;
                background: transparent;
                font-size: 18px;
            }
        }

    }

    .content-down {

        height: 35%;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));

        .options {
            gap: 50px;
            text-align: center;
            display: flex;
            justify-content: center;

            .option-child {

                width: 100px;

                .icon-child {
                    background: white;
                    width: 40px;
                    height: 40px;
                    padding: 8px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        color: #49bce2;
                        font-size: 24px;
                    }
                }

                .text-child {
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;

                    }
                }
            }
        }
    }
}